@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../assets/fonts/subset-SegoeUI-Bold.woff2') format('woff2'),
         url('../assets/fonts/subset-SegoeUI-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
